<div class="container">

  <form >
    <div class="form-group">
      <label for="pass" class="form-label">Password</label>
      <input #password  (input)="checkPasswordStrength()" type="text" class="form-control" id="pass" >
      <div>
        <span class="help-block text-secondary " 
        [ngClass]="
          {
            'text-danger':!isEmpty&&isEasy&&!isMedium&&!isHard||isShort,
            'text-warning':  isMedium&&!isShort&&!isHard,
            'text-success':isHard&&!isShort
          }
        ">easy</span>
      </div>
      <div>
        <span class="help-block text-secondary " 
        [ngClass]="{
          'text-warning':  isMedium&&!isShort&&!isHard,
          'text-danger':isShort,
          'text-success':isHard&&!isShort
        }
      ">medium</span>
      </div>
      <div>
        <span class="help-block text-secondary" 
        [ngClass]="{
          'text-success':isHard&&!isShort,
          'text-danger':isShort
        }">hard</span>
      </div>

    </div>

  </form>
</div>